
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWyV9hmIqOjjg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWyV9hvIqOjjg.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWyV9hnIqOjjg.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWyV9hoIqOjjg.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWyV9hkIqOjjg.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWyV9hlIqOjjg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWyV9hrIqM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Udc1UAw.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0ddc1UAw.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Vdc1UAw.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0adc1UAw.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Wdc1UAw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Xdc1UAw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Zdc0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKXGUdhmIqOjjg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKXGUdhvIqOjjg.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKXGUdhnIqOjjg.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKXGUdhoIqOjjg.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKXGUdhkIqOjjg.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKXGUdhlIqOjjg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKXGUdhrIqM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhmIqOjjg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhvIqOjjg.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhnIqOjjg.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhoIqOjjg.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhkIqOjjg.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhlIqOjjg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhrIqM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKW-U9hmIqOjjg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKW-U9hvIqOjjg.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKW-U9hnIqOjjg.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKW-U9hoIqOjjg.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKW-U9hkIqOjjg.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKW-U9hlIqOjjg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKW-U9hrIqM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OX-hpOqc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OVuhpOqc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OXuhpOqc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUehpOqc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OXehpOqc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OXOhpOqc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOX-hpOqc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOVuhpOqc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOXuhpOqc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUehpOqc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOXehpOqc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOXOhpOqc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhp.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOX-hpOqc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOVuhpOqc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOXuhpOqc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUehpOqc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOXehpOqc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOXOhpOqc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOX-hpOqc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOVuhpOqc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOXuhpOqc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOUehpOqc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOXehpOqc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOXOhpOqc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOUuhp.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: local('Montserrat Italic'), local('Montserrat-Italic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUQjIg1_i6t8kCHKm459WxRxC7mw9c.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: local('Montserrat Italic'), local('Montserrat-Italic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUQjIg1_i6t8kCHKm459WxRzS7mw9c.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: local('Montserrat Italic'), local('Montserrat-Italic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUQjIg1_i6t8kCHKm459WxRxi7mw9c.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: local('Montserrat Italic'), local('Montserrat-Italic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUQjIg1_i6t8kCHKm459WxRxy7mw9c.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: local('Montserrat Italic'), local('Montserrat-Italic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gTD_u50.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3g3D_u50.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gbD_u50.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gfD_u50.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: local('Montserrat Italic'), local('Montserrat-Italic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUQjIg1_i6t8kCHKm459WxRxC7mw9c.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: local('Montserrat Italic'), local('Montserrat-Italic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUQjIg1_i6t8kCHKm459WxRzS7mw9c.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: local('Montserrat Italic'), local('Montserrat-Italic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUQjIg1_i6t8kCHKm459WxRxi7mw9c.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: local('Montserrat Italic'), local('Montserrat-Italic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUQjIg1_i6t8kCHKm459WxRxy7mw9c.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: local('Montserrat Italic'), local('Montserrat-Italic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gTD_u50.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3g3D_u50.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gbD_u50.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gfD_u50.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#image_banner {
  background-size: cover;
  min-height: 100px;
  color:#fff;
}

.make_border_top_none {
    border-top: 0px !important;
}
 
.fc_new_changes td h2 {
  margin-top: 0;
 font-size: 20px;

}

body {
    font-family: Montserrat,sans-serif;
}

.dl-horizontal dt {
    margin-bottom: 10px;
}

.btn.sc-policies-complete {
    padding: 6px 35px 6px 35px!important;
    font-size: 1.5em!important;
}

.dl-horizontal dd {
    margin-bottom: 3px;
}

.confirmation-block table th {
    width: 45%!important;
    font-size: 14px!important;
    color: black!important;
    padding: 5px!important;
}

.confirmation-block table td {
    padding: 5px!important;
}

.confirmation-block table tr {
    border-top: 0px !important;
    border-bottom: 0px !important;
}

.confirmation-block p {
    margin-bottom: 10px!important;
    line-height: 1.5em!important;
}

.confirmation-column {
    width: 48%!important;
}

div.confirmation-block {
    margin: 10px!important;
}

.dl-horizontal dt {
    text-align: left!important;
}

div.confirmation-block h3 {
    padding-bottom: 10px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    color: #01ade2;
}

.entry-title {
    display: none;
}

.sc-policy h2 {
    color: #00b3e2;
    font-size: 24px;
}

.sc-policy h4 {
    font-size: 16px;
}

h4 span {
    background: #00b3e2;
    color: #fff;
    padding: 5px 20px;
    border-radius: 30px;
    font-weight: bold;
}

.year_box {
    background: #00b3e2;
    width: 250px;
    padding: 25px;
    color: #fff;
    border-radius: 20px !important;
    text-align: center;
}

.year_box h3 {
    font-size: 40px;
    margin: 0px;
    font-weight: bold;
    color: #fff;
}

.year_box h4 {
    font-size: 22px;
    color: #fff;
}

.form-horizontal .control-label {
    text-align: left !important;
    font-size: 14px;
}

.terms_conditions h4 {
    color: #00b3e2;
}

a,
a:hover {
    color: #00b3e2;
}

.sc-policy .form-control {
    height: 40px !important;
}

.btn-submit {
    background-color: #4cad5a;
    border-color: #4cad5a;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 25px;
    color: #fff;
}

.terms_one label,
.terms_two label {
    font-size: 14px;
}

.show_Fuerror5 {
    color: red;
    padding-top: 15px;
}

.accept_terms,
#boiler_servicess {
    margin-right: 9px !important;
    vertical-align: baseline;
}

#image_banner {
    position: relative;
}

.banner_overlay {
    background: rgba(0, 174, 227, 0.9) repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.banner_outer {
    position: relative;
    background-image: url("../images/sec-img.jpg");
}

.content_he {
  left: 0;
  margin: 0 auto;
  /*position: absolute;*/
  right: 0;
  text-align: center;
  top: 25px;
  z-index: 3;
}
.rvio {
    margin: 0px auto;
    width: 300px;
    overflow: hidden;
}
section.cnt strong {
    color: #3e99a1;
}
.content_he h1 {
  color: #000;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: -8px;
  text-align: center;
  background: linear-gradient(60deg,#11cb86 0,#5184ad 58%,#11cb86 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.content_he h4 {
  color: #000;
  font-size: 22px;
  font-weight: normal;
  text-align: center;
}

.he_msg {
    margin-top: 40px;
    padding-bottom: 30px;
    text-align: center;
}

.he_msg h1 {
    margin-bottom: 10px;
}

.he_msg p {
    margin-bottom: 10px;
}

.he_msg b {
    font-weight: normal;
    font-size: 18px;
}

#footer_banner {
    position: relative;
    background-image: url("../images/sec-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 174, 227, 0.9);
    min-height: 565px;
}

.foot_content_he {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 10%;
    z-index: 3;
}

.foot_content_he h4 {
    color: #fff;
    font-size: 25px;
}

#comparison_price {
     background: #F2F3F3;
    padding-top: 30px;
}

.he_features_wrap {
    float: none;
    margin: auto;
}

.he_features_wrap .feature_single {
    text-align: center;
    margin: 22px 0;
}

.he_features_wrap .feature_single img {
    display: inline !important;
    height: 100px;
    width: 100px;
}

.he_features_wrap .feature_single p {
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 26px;
}

.colgroupe_first {
    background: rgba(0, 160, 227, 0.9) repeat scroll 0 0;
    width: 250px;
}

.column_head {
    background: #11CB86;
    border-left: 1px solid white;
    border-right: 5px solid white;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    height: 55px;
    width: 200px;
}

#my-comparision-table {
    width: 100%;
    min-height: auto;
    font-size: 15px;
    font-family: Montserrat, sans-serif;
}

#my-comparision-table .fa.fa-check-circle {
    color: #11CB86;
    font-size: 25px;
    height: 25px;
    width: 25px;
}

#my-comparision-table .fa.fa-times-circle {
    color: #D6D7E2;
    font-size: 25px;
    height: 25px;
    width: 25px;
}

#my-comparision-table input[type="checkbox"] {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: yellow;
}
.m_zero{
    margin: 0;
}

#my-comparision-table td {
  background: #fff none repeat scroll 0 0;
  border-right: 4px solid #f1f3f3;
  font-weight: bold;
  height: 50px;
  vertical-align: middle;
}

#my-comparision-table tr th {
  border-right: 5px solid #f1f3f3;
  font-size: 14px;
  font-weight: normal;
  height: 50px;
  padding-left: 12px;
  vertical-align: middle;
  background: #11cb86;
}
.side-headings th {
    text-align: center;
    color: white;
    margin-right: 2px;
}

.check-and-cross th {
    color: white;
    text-align: left;
}

.check-and-cross td {
    text-align: center;
    padding-top: 20px;
}

.check-and-cross tr h1 {
    color: #fff;
    font-size: 28px;
    margin: 0;
}

.check-and-cross tr button {
    background-color: #11CB86;
    border-color: #11CB86;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 25px;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow:2px 5px 3px -3px #000;
}


/* The container */

.bs-container {
    display: block;
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 20px;
    font-weight: inherit;
}


/* Hide the browser's default checkbox */

.bs-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.bs-checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 5px;
}


/* On mouse-over, add a grey background color */

.bs-container:hover input~.bs-checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.bs-container input:checked~.bs-checkmark {
    background-color: #00B3E2;
}


/* Create the checkmark/indicator (hidden when not checked) */

.bs-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.bs-container input:checked~.bs-checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.bs-container .bs-checkmark:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.column_head_endings {
    background: #0096BC;
}

.cover-now b {
    font-weight: normal;
}

.price-compare {
    float: none;
    margin: 0 auto;
    width: 100%;
}

#accordian_tc .panel-group .panel {
    border-radius: 25px;
    box-shadow: none;
    border-color: #EEEEEE;
}

#accordian_tc .panel-default>.panel-heading {
    padding: 0;
    border-radius: 5px;
    background: #FAFAFA;
    border: 1px solid #A9FFFF;
}

.panel-title {
    font-size: 14px;
    color: #00A5D5;
}

.panel-title>a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #00A5D5;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #EEEEEE;
}

#accordian_tc .panel .in {
    padding: 0px;
}

#accordion {
    margin: 0 auto;
    float: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.panel-head-white {
    color: white !important;
}

#my-comparision-table td .btn:hover,
.btn:focus,
.btn.focus {
    color: #fff;
    text-decoration: none;
    background-color: #10ad73;
}

.panel-heading.active h4 {
    background: #00A5D5;
}

.panel-heading.active h4 a i {
    color: white;
    padding-top: 5px;
}

.panel-heading.active h4 a p {
    color: white;
}

.panel-heading h4 a i {
    padding-top: 5px;
}

.panel-body ul li {
    list-style: none;
    line-height: 40px;
}

#collapseThree .panel-body ul li i {
    color: #00A0D1;
    padding-right: 10px;
}


/*#collapseTwo ul li i {*/


/*color: #ff4646;*/


/*padding-right: 10px;*/


/*}*/

.ipid_display img {
    width: 40px;
    margin-top: 25px;
}

#accordion .ipid-content h2 {
    text-align: left;
    margin-bottom: 2px;
}

.ipid-content {
    width: 70%;
}

#collapseFour .ipid-image {
    margin-top: 30px;
}

#collapseFour .ipid-image img {
    height: 50px;
}

#collapseFour .smcov-image-wraper img {
    height: 50px;
}

#collapseFour .smcov-image-wraper {
    padding: 15px;
}

#collapseFour .panel-body a {
    text-decoration-line: underline
}

#collapseTwo p {
    margin-bottom: 10px;
}

#collapseFour .terms-conditions {
    border-bottom: 1px solid #eae6e6;
}

#footer_banner .banner_outer_he {
    min-height: 575px;
}

.smcov-image-wraper p {
    padding-top: 10px;
}

@media all {
    .clear {
        clear: both;
    }
    a {
        text-decoration: none;
    }
    .upp {
        text-transform: uppercase;
    }
    .wrp {
        margin: 0 auto;
        padding: 0px 10px;
        width: 1060px;
    }
    img {
        border: none;
        height: auto;
        max-width: 100%;
    }
    h6 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        line-height: 1.3;
        word-wrap: break-word;
    }
    h6 {
        font-size: 1em;
        margin: 14px 0px 7px 0px;
    }
    p {
        font-size: 1em;
        line-height: 2em;
        word-wrap: break-word;
    }
    .lst {
        margin-right: 0px;
    }
    .cnt .awr {
        padding: 0px 10px 10px 10px;
    }
    .scn {
        color: #949494;
    }
    .scn ul {
        list-style-type: none;
    }
    .scn ul li a {
        color: #706f6f;
    }
    .scn ul li a:hover {
        color: #434242;
    }
    .cnt .follow_me {
        overflow: visible;
    }
    .follow_me .side_body ul li {
        background: none;
        border: none;
        float: left;
        padding: 0px;
        position: relative;
    }
    .follow_me .side_body ul li a.sm {
        display: block;
        height: 31px;
        margin: 0 0px 4px 4px;
        text-align: center;
    }
    .follow_me .side_body ul li a.sm span {
        background: url("https://smart-cover.co.uk/wp-content/themes/ignition/images/sprite-web.png") no-repeat;
        display: block;
        height: 31px;
        width: 31px;
    }
    .follow_me .side_body ul li:first-child a {
        margin-left: 0px;
    }
    .follow_me .side_body ul li:first-child .bubble {
        margin-left: 0px;
    }
    .follow_me .side_body ul li a.sm-1col {
        width: 31px;
    }
    .follow_me .side_body ul li a.sm-2col {
        width: 31px;
    }
    .follow_me .side_body ul li a.fb span {
        background-position: -1px 0px;
    }
    .follow_me .side_body ul li a.twitter span {
        background-position: -41px 0px;
    }
    .follow_me .side_body ul li a.g_plus span {
        background-position: -81px 0px;
    }
    .follow_me .side_body ul li a.linkedin span {
        background-position: -121px 0px;
    }
    .follow_me .side_body ul li a.youtube span {
        background-position: -161px 0px;
    }
    .follow_me .side_body ul li .bubble {
        border-radius: 2px;
        box-shadow: 1px 0px 4px 0px rgba(88, 112, 118, 0.3);
        background: #fff;
        border: 1px solid #b2c7cd;
        display: block;
        padding: 10px;
        position: relative;
    }
    .follow_me .side_body ul li .bubble:after {
        -webkit-transform: skewX(39deg);
        -moz-transform: skewX(39deg);
        -ms-transform: skewX(39deg);
        -o-transform: skewX(39deg);
        transform: skewX(39deg);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 13px solid #fff;
        content: '';
        display: block;
        height: 0px;
        position: absolute;
        bottom: -13px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 0px;
    }
    .follow_me .side_body ul li .bubble:before {
        -webkit-transform: skewX(39deg);
        -moz-transform: skewX(39deg);
        -ms-transform: skewX(39deg);
        -o-transform: skewX(39deg);
        transform: skewX(39deg);
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 15px solid #b2c7cd;
        content: '';
        display: block;
        height: 0px;
        position: absolute;
        bottom: -15px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 0px;
    }
    .follow_me .side_body ul li .bubb {
        display: block;
        min-width: 50px;
        padding-bottom: 20px;
        position: absolute;
        bottom: 97%;
        left: -9000px;
        z-index: 4;
    }
    footer {
        color: #969aa8;
    }
    footer ul {
        list-style-type: none;
    }
    footer a {
        color: #969ba9;
    }
    footer .ftw {
        background: #34495e;
        padding: 80px 0px;
    }
    footer .copy {
        background: #f7f7f7;
        padding: 25px 0px;
    }
    footer .copy p {
        color: #b0b0b0;
        font-size: .846em;
        text-align: center;
    }
    footer .copy a {
        color: #b0b0b0;
    }
    footer .colm section {
        margin-bottom: 40px;
    }
    footer .follow_me .side_body ul li a.sm {
        margin-left: 7px;
    }
    .ftw .colm section {
        width: 100%;
    }
    footer .cnt .ttl {
        color: #ffffff;
        font-size: 1.231em;
        font-weight: 700;
        margin-bottom: 25px;
    }
    .colm {
        float: left;
        margin-bottom: 10px;
    }
    .oth {
        padding: 0% 2% 0% 0%;
        width: 32%;
    }
    .oth.lst {
        padding: 0% 0% 0% 0%;
    }
    img {
        box-sizing: border-box;
    }
    @media only screen and (max-width: 1080px) {
        .wrp {
            width: 900px;
        }
        .follow_me .side_body ul li a.sm {
            margin-left: 13px;
        }
    }
    @media only screen and (max-width: 940px) {
        .wrp {
            width: 700px;
        }
        .ftw .colm {
            box-sizing: border-box;
            margin-bottom: 40px;
        }
    }
    @media only screen and (max-width: 768px) and (min-width: 540px) {
        .wrp {
            width: 490px;
        }
        .ftw .colm {
            margin-bottom: 40px;
            width: 100%;
        }
    }
    @media only screen and (max-width: 540px) {
        .wrp {
            width: 340px;
        }
        .cnt .colm {
            float: none;
            width: 100%;
        }
        .ftw .colm {
            margin-top: 20px;
            margin-left: 0px;
            max-width: auto;
            width: 100%;
        }
        .ftw .colm:first-child {
            margin-top: 0px;
        }
        .follow_me .side_body ul li a.sm {
            margin-left: 15px;
        }
        h6 {
            font-size: 13px!important;
        }
    }
    @media only screen and (max-width: 380px) {
        .wrp {
            padding-left: 0px;
            padding-right: 0px;
            width: 300px;
        }
        footer {
            color: #fff;
        }
    }
}


/*! CSS Used from: Embedded */

.cnt {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

.cnt {
    font-size: 16px;
}

.cnt p {
    line-height: 2em;
}


/*! CSS Used from: Embedded */

footer .ftw {
    padding: 10px 5px!important;
}

footer a {
    font-size: 12px;
}

.ftw a:hover {
    color: #ffaded!important;
}

footer .colm section {
    margin-bottom: 4px!important;
}

footer .ftw {
    background: #f7f7f7!important;
    padding: 80px 0px;
}

footer .cnt .ttl {
    color: #000;
    font-size: 1.231em;
    font-weight: 700;
    margin-bottom: 25px;
}


/*! CSS Used fontfaces */

@media only screen and (min-width: 775px) {
    .tve_lp_header>.thrv_wrapper>div .tve_colm.tve_oth {
        padding: 0;
        width: 200px;
    }
}

@media (max-width: 767px) {
    #footer_banner .banner_outer_he {
        min-height: 900px;
    }
    .foot_content_he {
        top: 5%;
    }
    .foot_content_he h4 {
        padding-bottom: 30px;
    }
    .content_he {
        top: 10% !important;
    }
   .content_he h1 {
      font-size: 19px !important;
    }
    .content_he h4 {
        font-size: 17px !important;
        padding: 10px;
        display: block;
    }
    #image_banner {
        min-height: 78px;
        margin-bottom: 20px;
    }
    .header_image_banner img {
        min-height: 300px;
    }
    .panel-heading h4 {
        font-size: small !important;
    }
    .mobile-offer-icons img {
        float: none;
        margin: auto;
        text-align: center;
        height: 50px;
        width: 50px;
    }
    .mobile-offer-icons p {
        color: #fff;
        font-weight: bold;
    }
    .mobile-offer-icons {
        height: 100%;
    }
    .mobile-offer-icons .feature_single {
        margin-bottom: 18px;
    }
    .top-button {
        color: #fff;
        background: #11CB86;
    }
    .nav-pills {
        padding-left: 20px;
    }
    .nav-pills li {
        width: 24.4%;
        text-align: center;
    }
   .nav-pills > li.active > a, 
   .nav-pills > li.active > a:focus, 
   .nav-pills > li.active > a:hover {
      background-color: #11cb86;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1px;
      outline: medium none;
    }
    .my-comparision-table-mob {
        width: 100%;
        min-height: auto;
    }
   .my-comparision-table-mob .fa.fa-check-circle {
      background: #fff none repeat scroll 0 0;
      color: #11cb86;
      font-size: 20px;
      height: 25px;
      width: 25px;
    }
    .my-comparision-table-mob .fa.fa-times-circle {
        background: #fff;
        color: #D6D7E2;
        font-size: 25px;
        height: 25px;
        width: 25px;
    }
    .my-comparision-table-mob input[type="checkbox"] {
        width: 150px;
        display: block;
        margin-bottom: 10px;
        background-color: yellow;
    }
    .my-comparision-table-mob td {
      height: 35px;
      padding: 5px 0;
    }
    .my-comparision-table-mob tr th {
      background: rgb(17 203 134) none repeat scroll 0 0;
      border-bottom: 1px solid #f1f3f3;
      border-right: 5px solid white;
      font-size: 10px;
      font-weight: 500;
      height: 33px;
      letter-spacing: 0.5px;
      padding: 5px 10px;
      width: 248px;
    }
    .column_head {
        border-radius: 5px;
    }
    .my-comparision-table-mob tr td {
        border-right: 5px solid white;
    }
    .cover-now-button {
      background-color: #11cb86;
      border-color: #11cb86;
      border-radius: 5px;
      color: #fff;
      font-size: 10px;
      font-weight: bold;
      margin-bottom: 10px;
      padding: 9px 6px;
      width: 96px !important;
    }
    .bs-container p{
        margin-bottom: 0px;
    }
    .bs-checkmark {
       height: 17px;
      margin-top: 2px;
      top: 7px;
      width: 17px;
    }
    .bs-container .bs-checkmark::after {
      left: 6px;
      top: 3px;
     }
    .cover-now-wrap {
        padding: 0;
        text-align: center;
    }
    .cover-now-wrap h1 {
      color: #00b3e2;
      font-size: 18px !important;
      font-weight: bold;
      margin-top: 2px;
    }
    #menu3.tab-pane {
      padding: 8px 0;
    }

    .mobile_view_he{
        padding-right: 0px; 
        padding-left: 0px;
    }

    #comparison_price .nav.nav-pills a {
      font-size: 12px;
    }

    .cover-now-wrap b {
      display: block;
      font-size: 13px;
      font-weight: bold;
      margin-top: 6px;

    }
    li.active a.active::after {
        bottom: -7px;
    }
    li.active a::after {
        background: #11CB86 none repeat scroll 0 0;
        bottom: -6px;
        content: "";
        height: 14px;
        left: calc(50% - 7px);
        position: absolute;
        transform: rotate(-45deg);
        transition: bottom 0.3s ease 0s;
        width: 14px;
        z-index: -1;
    }
    li.active {
        z-index: -2;
    }
    .he_msg {
        margin-top: 0px;
    }
    .bs-checkmark {
        left: -14px;
    }
    .nav>li>a {
        background: #E7E9F3;
    }
    #comparison_price {
        background: none !important;
        margin: 0;
        padding: 0;
    }
    .tab-content .tab-pane {
        padding: 20px 0;
    }
    #footer_banner {
        min-height: 865px !important;
    }
    .my-comparision-table-mob .bs-checkmark {
        position: absolute;
        top: 1px;
        left: -15px;
    }
    #collapseFour .ipid-content {
        width: 100%;
    }
    .he_msg h1 {
        font-size: 24px;
        font-weight: bold;
    }
    #nav_right {
        display: none !important;
    }
    header .h-i #logo {
        text-align: center !important;
    }
    .my-comparision-table-mob tr th.column_head {
        background: #11CB86;
    }
    .my-comparision-table-mob tr th.column_head_endings {
        background: #11cb86;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #my-comparision-table .bs-checkmark {
        left: -5px;
    }
    #my-comparision-table .bs-container p {
        padding-left: 20px;
    }
    #image_banner .banner_outer {
        height: 340px;
    }
    #collapseFour .ipid-content {
        width: 100%;
    }
}

@media only screen and (max-width: 774px) {
    .thrv_wrapper.thrv_widget_menu.tve_right {
        position: absolute;
        right: 5%;
        margin: 0 0;
        width: 90%;
    }
    span.thrv-icon.thrv-icon-align-justify {
        color: #0891D6 !important;
    }
    .thrv_widget_menu.thrv_wrapper .tve-m-trigger {
        display: block !important;
        margin: 20px -15px 0 0 !important;
    }
}

#floating_menu {
        width: 100%;
        z-index: 101;
        -webkit-transition: all, .2s, linear;
        -moz-transition: all, .2s, linear;
        transition: all, .2s, linear;
    }
    #floating_menu header {
        -webkit-transition: all, .2s, ease-out;
        -moz-transition: all, .2s, ease-out;
        transition: all, .2s, ease-out;
        padding: 20px 0 10px;
    }
    #floating_menu #logo img {
        -webkit-transition: max-height, .2s, linear;
        -moz-transition: max-height, .2s, linear;
        transition: max-height, .2s, linear;
    }
    #floating_menu.mff {
        -webkit-transition: all, .3s, linear;
        -moz-transition: all, .3s, linear;
        transition: all, .3s, linear;
        opacity: 1;
        visibility: visible;
    }
    header {
        background-color: #fff;
        background-image: -webkit-linear-gradient(#fff 0%, #f8f8f8 50%, #f2f2f2 100%);
        background-image: linear-gradient(#fff 0%, #f8f8f8 50%, #f2f2f2 100%);
        border-bottom: 1px solid #ebebeb;
        font-weight: 400;
        padding: 20px 0px 10px 0px;
    }
    header .hmn {
        display: none;
    }
    header nav>ul>li.menu-item-has-children>a:after {
        content: '\f078';
        color: #828282;
        font-family: FontAwesome;
        font-weight: 300;
        font-size: 10px;
        padding: 0px 5px;
    }
    header nav>ul>li.menu-item-has-children:hover>a:after {
        color: #28cdfb;
    }
    header nav ul li {
        display: inline-block;
        font-size: 1em;
        float: left;
        padding: 0px 10px;
        position: relative;
    }
    header nav ul li a {
        color: #4e4e4e;
        display: block;
    }
    header nav ul li a:hover {
        color: #28cdfb;
    }
    header nav ul li>ul {
        box-shadow: 0 2px 4px -3px #000000;
        border: 1px solid #f0f0f0;
        display: none;
        margin-left: -100px;
        min-width: 200px;
        position: absolute;
        left: 50%;
        top: 30px;
        z-index: 4000;
    }
    header nav ul li>ul li {
        background: #f9f9f9;
        border-top: 1px solid #f0f0f0;
        color: #fff;
        display: block;
        float: none;
        font-size: 0.75rem;
        position: relative;
        padding: 0px;
    }
    header nav ul li>ul li:first-child {
        border-top: none;
    }
    header nav ul li>ul li a {
        height: 40px;
        line-height: 40px;
        text-indent: 15px;
    }
    header nav ul li>ul li a:hover {
        background-color: #f6f6f6;
    }
    header nav ul li>ul li ul {
        top: -2px;
        left: 150%;
        width: 100%;
        z-index: 10000;
    }
    header nav ul li>ul li.menu-item-has-children>a:after {
        content: '\f054';
        color: #c2bdae;
        float: right;
        font-family: FontAwesome;
        font-size: 10px;
        margin-right: 15px;
    }
    header nav ul li>ul li.menu-item-has-children:hover>a:after {
        color: #28cdfb;
    }
    header nav>ul>li {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .phone,
    .phone_mobile {
        display: table-cell;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        vertical-align: middle;
        width: 235px;
    }
    .phone .phr,
    .phone_mobile .phr {
        border-radius: 9px;
        border: 1px solid #bbbbbb;
        padding: 10px;
    }
    .phone .apnr,
    .phone span,
    .phone_mobile .apnr,
    .phone_mobile span {
        display: block;
    }
    .phone span,
    .phone_mobile span {
        font-size: 13px;
        line-height: 22px;
    }
    .phone .fphr,
    .phone_mobile .mphr {
        color: #4e4e4e;
        font-size: 13px;
    }
    .phone .fphr {
        display: block;
    }
    .phone a,
    .phone_mobile a {
        color: #4e4e4e;
    }
    .phone .apnr,
    .phone_mobile .apnr {
        font-size: 19px;
        line-height: 25px;
    }
    .phone .apnr:before,
    .phone_mobile .apnr:before {
         color: #4e4e4e;
        display: inline-block;
        font-family: 'FontAwesome';
        margin-right: 5px;
    }
    @media only screen and (min-width: 768px) {
        .h-cta {
            margin: 0 5px;
            padding: 0 0 15px 0;
        }
        .h-cta>a {
            text-align: center;
            border-radius: 5px;
            color: #fff;
            font-weight: 700;
            padding: 10px;
        }
        .h-cta>a:hover {
            color: #fff;
        }
    }
    @media screen and (max-width:365px){
        #comparison_price .nav.nav-pills a {
            font-size: 10px;
        }
        .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
            padding: 10px 5px !important;
        }
    }
    .phone_mobile {
        display: none;
    }
    header {
        display: block;
        text-align: center;
    }
    header:before {
        content: '';
        display: inline-block;
        height: 100%;
        margin-right: -.25em;
        vertical-align: bottom;
    }
    header #head_wrp {
        display: inline-block;
        vertical-align: bottom;
    }
    header #nav_right {
        text-align: left;
    }
    header .side_logo .h-i {
        display: table;
        width: 100%;
    }
    header .side_logo #logo {
        text-align: left;
    }
    header .side_logo #logo,
    header .side_logo #nav_right,
    header .side_logo .phone {
        display: table-cell;
        float: none;
    }
    header .side_logo #logo,
    header .side_logo .phone {
        vertical-align: middle;
    }
    header .side_logo #nav_right {
        vertical-align: middle;
    }
    #logo {
        -webkit-transition: all, .5s, ease-in-out;
        -moz-transition: all, .5s, ease-in-out;
        transition: all, .5s, ease-in-out;
    }
    #logo img {
        max-width: 200px;
    }
    .clearfix:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
    .has-heading .colch {
        border-bottom: 1px solid #ebebeb;
        color: #4e4e4e;
        font-size: 1.333em;
        font-weight: 400;
        margin: 0;
        padding: 13px 0 13px 15px;
        text-align: left;
        text-transform: uppercase;
        word-wrap: break-word;
    }
    .has-heading .colch {
        color: #4e4e4e;
        font-size: 12px;
        font-weight: 400;
        margin: 0;
        padding: 13px 0 13px 15px;
        text-align: left;
        word-wrap: break-word;
    }
    .has-extended img.aligncenter {
        margin-left: auto;
        margin-right: auto;
    }
    header nav li.has-extended>ul.sub-menu {
        box-shadow: 0 3px 3px 0 #cfcfcf;
        background: #f9f9f9;
        border: none;
        position: absolute;
        left: auto;
        top: auto;
        margin: 0;
        right: auto;
        overflow: hidden;
    }
    header nav li.has-extended>ul.sub-menu.position_right {
        position: absolute;
        right: -33px;
    }
    header nav li.has-extended>ul.sub-menu li a {
        height: auto;
    }
    header nav li.has-extended>ul.sub-menu li.menu-item-has-children>a:after {
        display: none;
    }
    header nav li.has-extended>ul.sub-menu li.menu-item {
        background: #f9f9f9;
        display: block;
        position: static;
    }
    header nav li.has-extended>ul.sub-menu li.menu-item a[href]:hover {
        background: #f5f5f5;
        color: #28cdfb;
    }
    header nav li.has-extended>ul.sub-menu li.menu-item>a {
        -webkit-transition: all, .2s, linear;
        -moz-transition: all, .2s, linear;
        transition: all, .2s, linear;
        color: #4e4e4e;
        font-size: 1em;
        line-height: 38px;
        text-indent: 0;
        word-wrap: break-word;
    }
    header nav li.has-extended>ul.sub-menu li.menu-item>a:hover {
        background: none;
    }
    header nav li.has-extended>ul.sub-menu>li {
        float: left;
        width: 49%;
    }
    header nav li.has-extended>ul.sub-menu>li ul.sub-menu {
        box-shadow: none;
        border: 0 none;
        display: block!important;
        margin-left: 0;
        position: static;
        opacity: 1!important;
    }
    header nav li.has-extended>ul.sub-menu>li ul.sub-menu li {
        border-bottom: 0 none;
        width: 100%;
    }
    header nav li.has-extended>ul.sub-menu>li ul.sub-menu li a {
        border-bottom: 1px solid #ebebeb;
        padding-left: 15px;
    }
    header nav li.has-extended ul li {
        border: 0 none;
    }
    header nav li.has-extended ul li>ul li {
        color: #4e4e4e;
    }
    header nav li.has-extended ul li ul li:first-child {
        border: 0 none;
    }
    header nav li.col-no-3>ul.sub-menu {
        width: 770px;
    }
    @media only screen and (min-width: 1080px) {
        header nav li.col-no-3.has-extended>ul.sub-menu,
        header nav li.col-no-3.has-extended ul.sub-menu.position_menu {
            width: 770px;
        }
        header nav li.col-no-3.has-extended ul li {
            padding: 0px 1%;
            width: 31%;
        }
        header nav li.col-no-3.has-extended ul li:nth-of-type(3n+1) {
            clear: left;
        }
    }
    @media only screen and (min-width: 840px) and (max-width: 1079px) {
        header nav li.col-no-3.has-extended>ul.sub-menu,
        header nav li.col-no-3.has-extended ul.sub-menu.position_menu {
            width: 520px;
        }
        header nav li.col-no-3.has-extended ul li {
            padding: 0px 1%;
            width: 48%;
        }
        header nav li.col-no-3.has-extended ul li:nth-of-type(2n+1) {
            clear: left;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 839px) {
        header nav li.col-no-3.has-extended>ul.sub-menu,
        header nav li.col-no-3.has-extended ul.sub-menu.position_menu {
            width: 260px;
        }
        header nav li.col-no-3.has-extended ul li {
            clear: both;
            padding: 0px 1%;
            width: 98%;
        }
    }
    header nav li.col-no-2>ul.sub-menu {
        width: 520px;
    }
    @media only screen and (min-width: 74px) {
        header nav li.col-no-2.has-extended ul li {
            padding: 0px 1%;
            width: 48%;
        }
        header nav li.col-no-2.has-extended ul li:nth-of-type(2n+1) {
            clear: left;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 839px) {
        header nav li.col-no-2.has-extended>ul.sub-menu,
        header nav li.col-no-2.has-extended ul.sub-menu.position_menu {
            width: 260px;
        }
        header nav li.col-no-2.has-extended ul li {
            clear: both;
            padding: 0px 1%;
            width: 98%;
        }
    }
    @media only screen and (min-width: 940px) and (max-width: 1350px) {
        header nav li.has-extended.col-no-3 {
            position: static;
        }
        header nav li.has-extended.col-no-3>ul.sub-menu {
            margin: auto;
            left: 0;
            right: 0;
        }
    }
    @media only screen and (max-width: 940px) and (min-width: 768px) {
        header nav li.has-extended>ul.sub-menu {
            position: absolute;
            left: auto;
            right: 0px;
        }
        header nav li.has-extended>ul.sub-menu.position_right {
            right: -33px;
            left: auto;
        }
    }
    img {
        box-sizing: border-box;
    }
    @media only screen and (max-width: 1080px) {
        .wrp {
            width: 900px;
        }
    }
    @media only screen and (max-width: 940px) {
        .wrp {
            width: 700px;
        }
        header #logo img {
            max-width: 200px!important;
        }
    }
    @media only screen and (min-width: 772px) {
        #nav_right {
            overflow: visible!important;
        }
    }
    @media only screen and (max-width: 768px) {
        header .side_logo #nav_right {
            display: none;
        }
        header {
            position: relative;
        }
        header #nav_right {
            background: #E9E9E9;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            overflow-y: scroll;
            z-index: 101;
        }
        header #nav_right:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
        header nav {
            box-sizing: border-box;
            clear: both;
            display: block;
            overflow: hidden;
            width: 100%;
            z-index: 10;
        }
        header nav>ul>li.menu-item-has-children>a:after {
            content: ' ';
        }
        header nav .menu>li:first-child:before {
            border-width: 6px;
            border-style: solid;
            border-color: transparent transparent #28cdfb transparent;
            content: '';
            display: block;
            height: 0px;
            position: absolute;
            right: 10px;
            top: -12px;
            width: 0px;
        }
        header nav ul {
            box-shadow: 0 4px 11px -9px #000000;
            display: block;
        }
        header nav ul li {
            background: #f9f9f9;
            display: block;
            float: none;
            padding: 0px;
        }
        header nav ul li:first-child {
            border-top: 2px solid #28cdfb;
        }
        header nav ul li a {
            box-sizing: border-box;
            border-top: 1px solid #dcdcdc;
            display: block;
            height: 36px;
            line-height: 36px;
            padding-left: 20px;
            width: 100%;
        }
        header nav ul li ul {
            box-sizing: border-box;
            box-shadow: none;
            border: none;
            margin-left: 0px;
            position: static;
        }
        header nav ul li ul li a:before {
            content: '-';
            padding-right: 10px;
        }
        header nav ul li ul li.menu-item-has-children>a:after {
            content: '';
        }
        header .hmn {
            cursor: pointer;
            clear: right;
            display: table-cell;
            text-align: right;
            vertical-align: middle;
        }
        header .hmn .rmn {
            background-image: linear-gradient(#5ad9fc 0%, #28cdfb 100%);
            border-radius: 3px;
            border-style: solid;
            border-width: 1px;
            border-color: #5ad9fc #28cdfb #28cdfb #28cdfb;
            color: #fff;
            font-size: 32px;
            height: 46px;
            line-height: 46px;
            margin: 0px 0px 0px 10px;
            text-align: center;
            width: 46px;
        }
        header #nav_right {
            display: block;
            float: right;
        }
        header .h-i {
            display: table;
            vertical-align: middle;
            width: 100%;
        }
        header .h-i #logo {
            text-align: left;
        }
        header .phone {
            display: none!important;
        }
        .phone_mobile {
            color: #fff;
            display: block;
            margin: 10px auto 0px auto;
            text-align: center;
        }
        .phone_mobile a {
            color: #fff;
        }
        .phone_mobile .apnr,
        .phone_mobile span.mphr {
            color: #fff;
        }
        .phone_mobile .apnr:before,
        .phone_mobile span.mphr:before {
            color: #fff;
        }
        .phone_mobile.navy .phr {
            background-color: #0080b2;
            background-image: -webkit-linear-gradient(top, #0080b2 0%, #005b7f 100%);
            background-image: linear-gradient(to bottom, #0080b2 0%, #005b7f 100%);
            box-shadow: inset 0px 1px 0px 0px #0092cc;
            border-radius: 3px;
            border: 1px solid #00364c;
            text-shadow: 1px 0px 1px #005b7f;
        }
        .phone_mobile.navy .phr:hover {
            background-color: #0080b2;
            background-image: -webkit-linear-gradient(bottom, #0080b2 0%, #005b7f 100%);
            background-image: linear-gradient(to top, #0080b2 0%, #005b7f 100%);
        }
        header ul.menu>li>a {
            color: #4e4e4e!important;
        }
    }
    @media only screen and (max-width: 768px) and (min-width: 540px) {
        header .mhl {
            width: 100%;
        }
        .wrp {
            width: 490px;
        }
        .hmn {
            display: table-cell;
            vertical-align: middle;
        }
        #logo {
            display: table-cell;
            float: none;
        }
        #head_wrp {
            display: block;
        }
    }
    @media only screen and (max-width: 540px) {
        .wrp {
            width: 340px;
        }
        header #logo {
            float: none;
        }
        header .hmn {
            float: none;
            padding: 10px 0px;
            width: 100%;
        }
        header .mhl {
            width: 100%;
        }
        header nav ul li ul {
            width: 92%;
        }
        header nav ul li ul li ul {
            width: 93%;
        }
        #logo {
            display: block;
            max-width: 100%;
        }
    }
    @media only screen and (max-width: 380px) {
        .wrp {
            padding-left: 0px;
            padding-right: 0px;
            width: 300px;
        }
        header .hmn {
            float: none;
            padding: 10px 0px;
            width: 100%;
        }
    }
    @media only screen and (max-width: 768px) {
        .has-free {
            display: none!important;
        }
        header nav .colch {
            border: none;
            color: #4e4e4e;
            display: inline-block;
            margin: 0;
            padding-bottom: 6px;
        }
        header nav li.has-extended ul.sub-menu,
        header nav li.has-extended ul.sub-menu.position_menu {
            background: none;
            display: block!important;
            position: relative;
            width: 100%!important;
        }
        header nav li.has-extended ul.sub-menu:before,
        header nav li.has-extended ul.sub-menu.position_menu:before {
            border: 0 none;
            content: " ";
        }
        header nav li.has-extended ul.sub-menu li.menu-item,
        header nav li.has-extended ul.sub-menu.position_menu li.menu-item {
            clear: both;
            float: none;
        }
        header nav li.has-extended ul.sub-menu li,
        header nav li.has-extended ul.sub-menu.position_menu li {
            clear: both;
            float: none;
            width: 100%;
        }
        header nav li.has-extended ul.sub-menu li a,
        header nav li.has-extended ul.sub-menu.position_menu li a {
            width: 100%;
        }
        header nav ul {
            background: none!important;
        }
        header nav ul li {
            position: static;
        }
        header nav ul li ul li ul {
            padding-left: 0;
            width: 100%;
        }
    }

/*! CSS Used from: Embedded */

header ul.menu>li>a {
    color: #000000;
}

header .phone .apnr,
header .phone .apnr:before,
header .phone .fphr {
    color: #000000;
}

header ul.menu>li>a:hover {
    color: #28cdfb;
}

header .phone:hover .apnr,
header .phone:hover .apnr:before,
header .phone:hover .fphr {
    color: #28cdfb;
}

header nav>ul>li>a:active {
    color: #28cdfb;
}

header #logo>a>img {
    max-width: 300px;
}

header ul.menu>li.h-cta>a {
    color: #000000!important;
}

header ul.menu>li.h-cta>a {
    background: #81d742;
}

header ul.menu>li.h-cta>a {
    border-color: #81d742;
}

header ul.menu>li.h-cta>a:hover {
    color: #ffffff!important;
}

header ul.menu>li.h-cta>a:hover {
    background: #5cd606;
}


/*! CSS Used from: Embedded */

header nav li.has-extended>ul.sub-menu li.menu-item>a {
    font-size: 12px!important;
}


/*! CSS Used from: Embedded */

header nav li.has-extended>ul.sub-menu li.menu-item>a {
    font-size: 14px!important;
}

header ul.menu>li>a {
    font-size: 16px!important;
    font-family: sans-serif;
}

header nav ul li>ul li a {
    text-align: center!important;
}

header nav ul li>ul li {
    background: #ffffff!important;
}

header ul.menu>li>a {
    color: #000000!important;
}

header ul.menu>li>a:hover {
    color: #333!important;
}

header nav>ul>li.menu-item-has-children>a:after {
    color: #f8f8f8!important;
}

header nav li.has-extended>ul.sub-menu {
    background: #ffffff!important;
}

.has-heading .colch {
    color: #4e4e4e!important;
    font-weight: 800!important;
}

.phone .phr,
.phone_mobile .phr {
    border: 0px solid #bbbbbb!important;
}

header .phone .apnr,
header .phone .apnr:before,
header .phone .fphr {
    color: #00ADE2!important;
    font-size: 22px!important;
}

@media only screen and (min-width: 1080px) {
    #nav_right {
        max-height: 515px!important;
    }
}

@media only screen and (min-width: 1080px) {
    header nav li.has-extended>ul.sub-menu.position_right {
        right: -333px!important;
    }
}

@media only screen and (min-width: 1080px) {
    #menu-item-1498>ul {
        right: -220px!important;
    }
}

.panel-heading h4 a p {
    margin: 0;
}

.smcov-image-wraper {
    text-align: center;
}

.smcov-image-wraper img.img-responsive {
    display: inline-block;
}

.ipid-image {
    text-align: center;
}

.ipid-image img.img-responsive {
    display: inline-block;
}

.add_bolier_services_update {
  background:#0fab71 !important;
  color: white;
}


.toggle_switches {
  display: flex;
  height: 22px;
  position: relative;
  width: 48px;
  margin-top: 5px;
}

.toggle_switches input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle_switches_slider_btn {
  background-color: #ccc;
  border-radius: 26px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.4s ease 0s;
}

.toggle_switches_slider_btn::before {
  background-color: white;
  border: 4px solid #fff;
  border-radius: 100%;
  bottom: 3.5px;
  content: "";
  height: 15px;
  left: 11px;
  margin-left: -8px;
  position: absolute;
  transition: all 0.4s ease 0s;
  width: 15px;
}

input:checked + .toggle_switches_slider_btn {
  background-color: #383736;
}

input:focus + .toggle_switches_slider_btn {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggle_switches_slider_btn:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

 .toggle_switches_slider_btn.round {
  border-radius: 34px;
}

.toggle_switches_slider_btn.round:before {
  border-radius: 50%;
}

#my-comparision-table tr th img {
  margin-bottom: 2px;
  margin-right: 6px;
}
 
@media(min-width: 768px) and (max-width: 991px) {

    .price-compare {
        width: 100% !important;
    }
}

.excess_calculator span {
    border: 2px solid #ccc;
    display: inline-block;
    font-size: 12px;
    padding: 5%;
    width: 30%;
    cursor: pointer;
    background: #ccc;
}

.excess_calculator span.active {
    background: #11cb86 none repeat scroll 0 0;
    border: 2px solid transparent;
    color: #fff;
}

.content_he img {
    height: 100px;
    margin-top: 10px;
}
@media screen and (max-width:1199px) and (min-width:768px){
    .heswitchnew{
        height: 60px !important;
    }
}
@media screen and (max-width:850px) and (min-width:768px){
    #comparison_price .container {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
}
@media screen and (max-width:768px){
    header .side_logo #nav_right {
        display: none !important;
    }
    header .h-i #logo {
        text-align: center;
    }
}

.heswitchnew{
    height: 60px !important;
}

.docssec.only991{
    display:none;
}
@media screen and (max-width:991px) {
    .docssec{
        display:none;
    }
    .docssec.only991{
        display:block;
    }
}
.partnership {
    max-width: 300px;
    margin: 10px 0px;
}
@media screen and (min-width:1200px){

/* imgmap */
.imgmap{
    position: relative;
    top:50px;
}
.ht-icon-hotspot.ht-icon-hotspot-purple{
    position: absolute;
}

.ht-icon-hotspot input:checked~.ht-icon-hotspot-content {
    transform: translateX(0);
    transition: left 0s,opacity .4s,transform .4s;
    opacity: 1;
}
.ht-icon-hotspot.ht-icon-hotspot-purple input{
    display: none;
}

.ht-icon-hotspot-purple .ht-icon-hotspot-pulse {
    animation: pulse-purple 1.4s infinite;
    background: #ff3c3c;
    box-shadow: 0 0 0 #00aee3;
    position: relative;
    left: 100%;
    z-index: 110;
}

.ht-icon-hotspot-pulse {
    animation: pulse-yellow 1.4s infinite;
    background: #ffbd00;
    border: 3px solid #f5f5f5;
    border-radius: 50%;
    box-shadow: 0 0 0 #f0cb46;
    cursor: pointer;
    display: block;
    height: 24px;
    width: 24px;
}
@keyframes pulse-purple {
	0% {
		box-shadow: 0 0 0 0 #ff3c3c
	}
	90% {
		box-shadow: 0 0 0 20px rgba(204, 44, 191, 0)
	}
	100% {
		box-shadow: 0 0 0 0 rgba(204, 44, 191, 0)
	}
}

@keyframes thermometer-spin {
	0% {
		transform: rotate(-138deg)
	}
	50%,
	70% {
		transform: rotate(12deg)
	}
	60% {
		transform: rotate(-8deg)
	}
	80% {
		transform: rotate(-4deg)
	}
	90% {
		transform: rotate(8deg)
	}
	100% {
		transform: rotate(-2deg)
	}
}

@keyframes turn-90 {
	0% {
		transform: rotate(0)
	}
	100% {
		transform: rotate(-90deg)
	}
}

@keyframes slide-in {
	0% {
		opacity: 0;
		transform: translateX(100px)
	}
	100% {
		opacity: 1;
		transform: rotateX(0)
	}
}

@keyframes slide-down {
	0% {
		opacity: 0;
		transform: translateY(-100px)
	}
	100% {
		opacity: 1;
		transform: rotateY(0)
	}
}

@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(100px)
	}
	100% {
		opacity: 1;
		transform: rotateY(0)
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(8px)
	}
	100% {
		opacity: 1;
		transform: translateY(0)
	}
}

@keyframes mouse-wheel {
	0%,
	20% {
		transform: translateY(0)
	}
	100%,
	80% {
		transform: translateY(14px)
	}
}

@keyframes ht-app-spin {
	0% {
		transform: rotate(0)
	}
	100% {
		transform: rotate(360deg)
	}
}

.ht-icon-hotspot-content {
    top: 50%;
    transform: translateX(-10px);
    transition: left 0s .4s, opacity .4s, transform .4s
}
.ht-icon-hotspot-content {
    background: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(17,17,17,.2);
    left: calc(-200vw - 100%);
    max-width: calc(100vw - 40px);
    max-width: 320px;
    opacity: 0;
    overflow: hidden;
    top: 70px;
    transform: translateX(-10px);
    z-index: 1;
}
.ht-icon-hotspot input:checked~.ht-icon-hotspot-content {
    transform: translateX(0);
    transition: left 0s,opacity .4s,transform .4s;
}
.ht-icon-hotspot-content-top {
    padding: 15px 15px 8px;
}
.ht-icon-hotspot .ht-icon-hotspot-content .ht-icon-hotspot-close {
    cursor: pointer;
    padding: 0 10px;
    position: absolute;
    right: 4px;
    top: 10px;
}
svg.ht-image-svg.ht-icon-hotspot-close-icon.is-showing {
    width: 15px;
}
input:checked  .ht-icon-hotspot-purple{
    z-index: 1111;
}
.zindexhigh {
    z-index: 1111;
}
section.imgmapsec {
    padding: 50px 0px;
    padding-bottom:0px;
}
.divfxdtop.pposfixed td {
    width: 215px;
}
.divfxdtop.pposfixed td.premium_main {
    border: unset !important;
}
.divfxdtop.pposfixed th {
    width: 250px;
}
.divfxdtop.pposfixed td h2 {
    margin-bottom: 0px;
}
.divfxdtop.pposfixed {
    position: fixed;
    top: 0px;
    z-index: 1200;
    overflow: hidden;
    box-shadow: 2px 5px 10px #0000004d;
    animation: smoothScroll 1s forwards;
}
@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
    }
    
}
.divfxdtop {
    -webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease;
}
.hetempfooter {
    position: fixed;
    bottom: 0px;
    animation: smoothScroll 1s forwards;
    width: 100%;
}
}
@media screen and (max-width:1199px){
    .imgmapsec .imgmap{
        display: none;
    }
    .imgmapsec{
        text-align: center;
    }
}
tr.cover-now.fc_new_changes th, tr.cover-now.fc_new_changes td {
    background: #fff !important;
}
.imglft p {
    font-size: 15pt;
    line-height: initial;
    margin-bottom: 0px;
}
.imglft h1 {
    font-size: 4em;
    font-weight: 900;
    background: linear-gradient(60deg,#11cb86 0,#5184ad 58%,#11cb86 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
button.hqbt {
    padding: 10px;
    font-weight: bold;
    border-radius: 17px;
    border: unset;
    background: #ff3c3c;
    padding: 10px 15px;
    color: #fff;
    margin: 15px 0px;
    box-shadow: 0px 5px 5px 0px #cacaca;
}
 
.hetempfooter svg {
    width: 25px;
}

.hetempfooter span {
    font-size: 17px;
    vertical-align: top;
    padding-left: 10px;
    color: #fff;
}
.hetempfooter {
    background: #1f2328;
    padding: 15px 0px 10px;
    z-index: 111;
}
button.ht-proposition-bar-close {
    position: absolute;
    right: 10px;
    background: unset;
    border: unset;
    outline: none;
}

.hetempfooter.def {
    position: inherit;
    animation: smoothScroll 1s backwards;

}
tr.cover-now.fc_new_changes th, tr.cover-now.fc_new_changes td {
    background: unset !important;
}
@media screen and (max-width:1199px){
    .hetempfooter span {
        font-size: 15px;
    }
}
.trustpilot-widget {
    padding: 30px;
}

.monfcl {
    max-width: 150px;
    margin: 0px auto !important;
}
@media screen and (max-width:991px){

.hetempfooter{
    display: none;
}
}
@media screen and (max-width:575px){
    .imglft h1 {
        font-size: 3em;
    }
}
.fc_new_changes{
    background:linear-gradient(60deg,#11cb86 0,#5184ad 58%,#11cb86 100%);
    color:#fff !important;
}
.heswitchnew{
    color:#fff !important;
}
#carousel button.owl-dot {
    width: 10px;
    height: 10px;
    background: #e4e4e4 !important;
    margin: 0px 3px 15px;
    border-radius: 50%;
    outline: none;
}
#carousel button.owl-dot.active {
    background-color: #00aee3 !important;
}
section.banner h1 {
    color: #3e99a1;
    text-align: center;
    font-weight: 600;
    margin: 30px 0px 10px;
}
button.applbtn {
    padding: 12px 17px;
    background: #14c988;
    color: #fff;
    font-weight: 600;
    border: unset;
    border-radius: 5px;
    margin: 0px auto;
}
.banner {
    padding-bottom: 0px;
}
section.cnt {
    padding: 50px 0px;
}
section.wibnr {
    padding: 10px 0px;
    position: relative;
}
section.wibnr:after{
    /* content: "";
    padding-bottom: 45%;
    display: block; */
}
.wibnr_content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 0;
    background: #085ba5;
}
.wibnr_content .contact_form {
    width: auto;
    padding: 25px;
    background: #085ba5;
    border-radius: 4px;
    margin: 0 20px;
    border: 1px solid #219acf;
    box-shadow: -4px 4px 0px 0px #1e8ec6
}
section.imgmapsec{
    margin-bottom: 50px;
}
.contact_form .form-group label {
    color: #fff;
    font-weight: 300;
}
.contact_form .form-group .group {
    padding-left: 18px;
    position: relative;
    font-size:12px;
}
.contact_form .form-group .group input[type="radio"]{
    position: absolute;
    left: 0;
    top: 1px;
}
.contact_form .form-group input[type="text"]{
    border: 0;
    height: 35px;
}
.contact_form .btn {
    width: 100%;
    padding: 12px 5px;
    background: #1e8ec6;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    transition: all .5s ease;
}
.contact_form .btn:focus{
    border:1px solid #1e8ec6;
    outline: none;
}
.contact_form .btn:hover{
    background-color: #14c988;
}
.contact_form .form-group label.error{
    font-size: 14px;
    color: #ff0000;
    margin-bottom: 0;
    position: absolute;
    left: 0;
    bottom: -1px;
}
/************ Style written by Anjali Krishnan Starts***********************/
.contact_form .form-group label.custError{
    font-size: 14px;
    color: #ff0000;
    margin-bottom: 0;
    position: absolute;
    left: 0;
    bottom: -1px;
}
/************ Style written by Anjali Krishnan Ends***********************/

.contact_form .form-group {
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}
.req{
    color: #ff0000;
}
.col-w-4{
    width: 33.333%;
}
.col-w-6{
    width: 66.666%;
}
.wibnr_content .bg_img {
    height: 100%;
}
@media(min-width:1200px){

}
@media(max-width:1200px) {
    /* section.wibnr {
        padding: 30px 0px;
    } */
    /* section.wibnr:after{
        content: none;
    }
    .wibnr_content{
        position: static;
        transform: none;
    } */
}
@media(min-width:991px) and (max-width:1199px){
    .col-w-4{
        width: 40%;
    }
    .col-w-6{
        width: 60%;
    }
}
@media(min-width:768px) and (max-width:991px){
    .col-w-4{
        width: 45%;
    }
    .col-w-6{
        width: 55%;
    }
}
@media(max-width:767px){
    .col-w-4{
        width: 100%;
    }
    .col-w-6{
        width: 100%;
    }
    .wibnr_content .contact_form{
        margin-bottom: 40px;
    }
    .wibnr img {
        padding: 0 20px;
    }
}

@media screen and (min-width:768px){
    .homebane{
        height:500px;
    }
}
section.banner h2 {
    color: #3e99a1;
    text-align: center;
    font-weight: 600;
    margin: 30px 0px 30px;
    font-size: 1.3em;
}